header {
    font-family: "Comic Sans MS";
    font-size: 3em;
    text-align: center;
}
.container {
    border: black 2px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
#modal {
    float: right;
    padding-right: 10px;
}
#list {
    text-align: center;
}
body {
    background-color: navajowhite;
    background-image: url("../images/needpix_com_edited_image.png");
}
#jumboTron {
    text-align: center;
}
#jumboTronButton {
    float: right;
}
#jumboTronRight {
    text-align: right;
}
#list2, td, tr, th {
    border-radius: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /*text-align: center;*/


}
#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}
.headFoot{
    text-align: center;
}
#search {
    width: 28%;
    border: black 2px;
}
.white {
    color: white;
}
.add {
    float: right;
    padding-right: 20em;
}