header {
    font-family: "Comic Sans MS";
    font-size: 3em;
    text-align: center;
}
.container {
    border: black 2px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
#modal {
    float: right;
    padding-right: 10px;
}
#list {
    text-align: center;
}
body {
    background-color: navajowhite;
}
#jumboTron {
    text-align: center;
}
#jumboTronButton {
    float: right;
}
#jumboTronRight {
    text-align: right;
}
